.content
	.head_text.column.split_4
		%h1 About Us
		%h2 Symphony Windows is a family run business based in the Norfolk area, proud to be suppling you with the best
	.about_columns.column.split_10
		.column.split_25
			= image_tag('about-1.jpg')
			%h3 History
			%p Symphony Windows Limited was formed in 1998 and we have built our success around the philosophy of being flexible to respond to clients needs, together with an enlightened approach to problem solving.
			%p We pride ourselves on completing projects quickly, efficiently and to a high standard of workmanship, which combined with a non-adversarial approach, ensures each scheme is completed on time, within budget and in a manner that turns the whole process into a rewarding experience for all concerned.
		.column.split_25
			= image_tag('about-2.jpg')
			%h3 Forward Thinking
			%p Now considered a large commercial installation operation, often installing in excess of five hundred frames a week, it has been essential that all areas of the business have been able to cope with this expansion and for that reason the company sought and gained total quality service backed by BS EN ISO 9001:2008 accreditation.
			%p Couple this with our excellent safety record, together with a reliable, pro-active and motivated approach to work as can be expected of a forward thinking company.
		.column.split_25
			= image_tag('about-3.jpg')
			%h3 Trusted
			%p As you would expect, a company listed  on so many local authority approved lists would need to prove and demonstrate its ability to undertake projects within its field and for this reason Symphony secured registration within Constructionline, created and owned by the Department of the Environment, Transport, and the regions.  Following the introduction of part L to the building regulations upgrade, Symphony became a member of FENSA, which enables us to offer our client base the ability to self-certify compliance without the need to obtain building regulations approval. In addition we are included in EXOR listings, a Government body which vets window installers for their capabilities.
		.column.split_25
			= image_tag('about-4.jpg')
			%h3 Proud
			%p Symphony is proud of the safety track record within the company, which has been brought about by a broad knowledge within the company, supported by an external consultancy that oversee any anomalies which may occur on site. Our workforce is kept fully appraised of risks on site, and any changes to working methods and practical guidelines. We have gained the British Standard for fitting/installaion of windows and now carry he quality assured Kitemark.  We are pleased to be recognised as part of SAFECONTRACTOR who regularly check that we are up to date on Health and Safety matters