.content
	.homepage 
		.summary_header.column.split_10
			%p Specialist suppliers, installers and manufacturers of
		.column.split_4
			.column.split_10
				%h1 <span class="section_one">PVCu</span> <span>&amp;</span> <span class="section_one">Aluminium</span><br><span>Windows</span> &amp;</span> <span>Doors</span>
			.four_grid.column.split_10
				.block_one.column.split_4
					%p Products and Services
				.block_two.column.split_4
					%p Projects
				.block_three.column.split_4
					%p Accreditations
				.block_four.column.split_4
					%p About Us
		.column.split_6
			.home_information	
				%p Symphony Windows specialises in the supply and installation of PVCu + Aluminium windows and doors for predominantly public sector property, including social housing, educational establishment and public buildings. Offering a vast range of Products and Services to meet their clients every need, supplying and installing windows from the top manufacturing brands available.
				%p Symphony is proud of the safety track record within the company, which has been brought about by a broad knowledge within the company, supported by an external consultancy that oversee any anomalies which may occur on site.
			.contact_info
				%p If you have any enquiries then do not<br>hesitate to get in touch either on our contact<br>us page or by using the contact numbers<br>below:
				%h2 TEL: 01508 530004
				%h3 enquiries@symphonywindows.co.uk