.content
	.head_text.column.split_4
		%h1 Products &amp; Services
		%h2 At Symphony we belive in<br>Providing maximum client<br>satisfaction and value for money.
	.top_right_buffer.column.split_6
		%p A major advantage to our client base is the ability to offer a choice of quality profiles within our PVCu range and our aluminium manufacturing range. We also offer a range of Composite doors & Composite fire which have, PAS O23/O24 and Secure by design.
		%p As well as a wide range of products we also offer an extesive range of services.  These services include:
		%ul 
			%li Involvement in feasibility studies to provide essential information for the specifications, data on performance and help Clients choose the best system for the project
			%li Provide an estimating service producing budget costs, cash flow forecasts and cost comparisons to aid choice and predictability
			%li Design and drawing services
			%li Programming advice - having had first hand knowledge of time constraints of all the components of the supply chain
			%li Trial installation and/or on site investigation service to identify problems and site conditions, prior to project commencement.  This can include lintel and structural problems, asbestos issues, Health and Safety issues, the choice of fixing and installation methods and the requirements of residents
			%li Attendance to residents meetings at any stage to listen to views, answer questions and keep them fully informed
	.products_row.column.split_10
		.column.split_3
			= image_tag('alum-prev.jpg')
			%h2 Aluminium
			%p We specialise in the manufacture and supply of Sapa and Smart glazing system products but can source and supply any glazing system you may require.
		.column.split_3
			= image_tag('pvc-prev.jpg')
			%h2 PVC
			%p We are able to offer quality profiles including Rehau, Veka, Kommerling and Profile 22 within our PVCu range
		.column.split_3
			= image_tag('manu-prev.jpg')
			%h2 Manufacturing
			%p Our modern factory houses some of the latest Elumatec machinery including CNC saws and machines, thus assuring you perfect accuracy and consistency in the machining of the product combined with trained staff working to BS4875 and PAS23, bringing you the best products available today.
