.content
	.head_text.column.split_4
		%h1 Projects
		%h2 Some of our recent work which we are most proud of
	.top_right_buffer.column.split_6
		%p We operate mainly in the London and South East area and pride ourselves on our attention to detail and overall quality from manufacture to installation
	.project_cards.column.split_10
		.project_card.column.split_3
			%h3 Blenheim Court, Islington
			%h4 Client : Homes for Islington, Contractor : Apollo London Ltd
			= image_tag('Blenheim_court.jpg')
			%p Overview - This was a window and door replacement scheme that took place between April and September 2006 where we acted as a sub-contractor working for the clients appointed main contractor.<br>Complete replacements were required to the majority of the 122 flats contained within the project....
		.project_card.column.split_3
			%h3 Cunningham Close, Romford
			%h4 Client : Home Group Ltd
			= image_tag('Cunningham.jpg')
			%p Overview - This was an external cladding window and door replacement project that we carried out between September and December 2006 where we worked directly as the main contractor for our client, Home Group. It was a sheltered housing scheme of 54 properties plus communal areas. We worked...
		.project_card.column.split_3
			%h3 Rennie Estate, Rotherhithe
			%h4 Contractor : Apollo London Ltd, Client : London Borough of Southwark
			= image_tag('Rennie_Est.jpg')
			%p Overview - This was an aluminium window and door replacement project that we carried out between March and July 2006 where we worked as a subcontractor to the appointed main contractor. There were 67 flats spread over 4 blocks plus communal stairwell areas. The scheme was completed on time and...