.contact_information_enquiry {
  clear: both;
	border-left: 4px solid $text-black;
  padding: 10px 0 10px 30px;
  line-height: 28px;
  font-weight: 300;
  font-size: 20px;
  margin: 40px 0;
}
.enquiry_form {
  background-color: #265275;
  padding: 40px 20px;
  margin: 70px 0 40px;
  label {
    color: #fff;
    font-weight: 300;
  }
  input {
    margin-bottom: 20px;
    width: 100%;
  }
  textarea {
    width: 100%;
    height: 150px;
  }
  .actions_buuton {
    width: 100px;
    margin: 20px 0 0;
  }
}