.content 
  .column.split_5
    .head_text
      %h1 contact
      %h2 If you have any enquiries then do not hesitate to contact us on the details below or using the form on the right.
    .contact_information_enquiry
      %p Tel: 01508 530004<br>Fax: 01508 536006Address:<br> 
      %p Unit 14, Salamanca Road,<br>Tharston Industrial Estate,<br>Long Stratton,<br>Norwich,<br>NR15 2PF<br>
  .enquiry_form.column.split_5
    = render 'enquiries/form'