.footer_outer.clearfix
  .content
    .footer
      %p &copy; Symphony Windows Ltd. 2013. All rights reserved.<br>Company Reg.: 3591365. CE Marking<br>Registered Office : Bankside 300, Peachman Way, Broadland Business Park, Norwich , NR7 0LB #{link_to 'Web Design Norwich', 'http://cd2solutions.co.uk/' }
